<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="mvc-post" method="post">
      <div><label for="name">이름 : </label><input type="text" name="name" id="name"></div>
      <div><label for="man">성별 : </label>
          <input type="radio" name="gender" id="man" value="남자"><label for="man">남자</label>
          <input type="radio" name="gender" id="woman" value="여자"><label for="woman">여자</label>
      </div>
      <div><label for="birth">생년월일 : </label><input type="date" name="birth" id="birth"></div>
      <div><label for="hobby">관심사 : </label>
          <label><input type="checkbox" name="hobby" id="hobby" value="여행">여행</label>
          <label><input type="checkbox" name="hobby" value="패션">패션</label>
          <label><input type="checkbox" name="hobby" value="요리">요리</label>
      </div>
    <button>전송</button>
  </form>
</body>
</html>