
.inputWrap {
    border: 2px solid rgb(138, 138, 138);
    padding: 10px;
    margin-bottom: 10px;
}
.inputWrap >  *{
    margin-right: 5px;
}
.inputSearch {
    padding: 20px 0;
    
    margin-bottom: 10px;
}
.inputSearch > input {
    width: 220px;
}
.inputSearch > *{
    margin-right: 10px;
}

table {
    border: 2px solid rgb(60, 60, 60);
    border-collapse: collapse;
}
th, td{
    border: 2px solid #444444;
}
tr > *{
    padding: 10px 5px;
}
.noneSearch{
    display: none;
}
.textSearch{
    margin: 20px 0;
}