<html>
    <head>
        <title>
            팝업
        </title>

    </head>
    <body>
        
    </body>
    <footer>
        <input type="checkbox" id="noshow" name="noshow">
        <label for="noshow">오늘 하루 그만보기</label>
    </footer>
</html>