<html>
    <head>
        <title>EJS TEST</title>
    </head>
    <body>
        

        <% for (var i = 0; i<list.length; i++){ %>
            <h1><%=list[i]%></h1>
        <% } %>

        <% var a = 'Thank you'; %>
        <p><%=a%></p>

        <%- include('test2.ejs') %>

    </body>
</html>